* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  font-family: "poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 1.3em;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
.todoTask {
  margin-bottom: 1.5em;
  font-size: 2rem;
  border: none;
  background: white;
}
.date-input {
  height: 2rem;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
}

form button {
  color: #fda085;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #fda085;
  color: white;
  padding: 0.7rem;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  min-height: max-content;
  margin: 0.5rem;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.check-btn,
.trash-btn,
.edit-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.check-btn {
  background-color: rgb(2, 182, 2);
}
.edit-btn {
  background-color: rgb(30, 30, 210);
}
.edit-check {
  background-color: rgb(2, 182, 2);
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.todo-item {
  padding: 0rem 0.5rem;
  background: white;
  height: 2em;
}
.deadline {
  margin: 0 2em 0 2em;
  padding: 0;
  display: inline-block;
  font-size: 0.8em;
  color: blue;
  font-weight: 700;
}
.fa-trash,
.fa-check-square,
.fa-pen-to-square {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #ff6f47;
  color: #fff;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after {
  background: #fff;
  color: #ff6f47;
}
